@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 640px) {
  html {
    font-size: 14px;
  }

  h1 {
    font-size: 1.5rem !important;
  }

  h2 {
    font-size: 1.25rem !important;
  }

  h3 {
    font-size: 1.125rem !important;
  }

  p,
  span,
  div,
  button {
    font-size: 0.875rem !important;
  }

  .text-sm {
    font-size: 0.75rem !important;
  }

  .text-xs {
    font-size: 0.625rem !important;
  }
}
